@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* main background */
  background-image: radial-gradient(
      at 27% 37%,
      rgb(118, 228, 127) 0px, 
      transparent 0%
    ), 
    radial-gradient(at 97% 21%, rgb(209, 223, 215) 0px, transparent 40%),
    radial-gradient(at 52% 99%, rgb(222, 228, 206) 0px, transparent 40%),
    radial-gradient(at 10% 29%, rgb(206, 224, 220) 0px, transparent 40%), 
    radial-gradient(at 97% 96%, rgb(222, 230, 214) 0px, transparent 40%), 
    radial-gradient(at 33% 50%, rgb(214, 230, 222) 0px, transparent 40%),
    radial-gradient(at 79% 53%, rgb(207, 224, 207) 0px, transparent 40%); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --header-height: 160px; /* Default height of the header */
  --background-size: 100% auto; /*  height */
}

.App-header {
  background-image: url('images/mainbackgroundimage.jpg');
  background-size: var(--background-size); /* Uses the variable for size */
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  width: 100%;
  height: var(--header-height); /* Uses the variable for height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  margin: 0;
  color: #168030;
}
/* nav manu */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #168030;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ecf0f1;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #27ae60;
}

/* New styles for Login page */
.login-section {
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.form-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 45%;
  transition: transform 0.3s;
}

.form-box:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.form-box h3 {
  color: #3498db;
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  main {
    width: 90%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }

  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-box {
    width: 100%;
    max-width: 300px;
  }
}